html {
    display: block;
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.nav-menu {
    z-index: 1000;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-direction: row;
    margin: 0;
    margin-bottom: 5%;
    padding-left: 20px;

}

.navbar-image {
    display: flex; 
    align-items: center; 

}

.navbar-image img {
    width: 100px; 
    height: auto;
    margin-right: 10px;
}

.nav-content {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}





li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04aa6d;
}


div.Restricted {
float: right;
}

.nav-Togle-btn {
    font-size: 30px;
    cursor: pointer;
    border: none;
    
}
.nav-Togle-btn:hover {
    background-color: #111;
    color: white;
    
}

div.link {
    display: flex;
    justify-content: space-between; /* Pour ajouter de l'espace entre les boutons */
}


div.link button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 24px;
    cursor: pointer;
}

button.link-project:hover {
    background-color: black;
}

.column {
    float: left;
    width: 75%; /* Augmenter la largeur ici */
    display: none;
}

div.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


div.card-container {
    display: block;
    margin: auto;
    width: 95%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}


div#btn-container button {
    background-color: gray;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 24px;
    cursor: pointer;
}

div#btn-container button:hover {
    background-color: black;
}

div#btn-container button.active {
    background-color: #04aa6d;
}




.main-cotainer {

}


div.main-title {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    
}

div#btn-container {
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    margin-top: -70px;
}



h1#main-title {
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-top: 100px;
}



.row,
.row>.column {
    padding: 8px;
}




.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    width: 50%;
    height: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}


.show {
    display: block;
}
